<footer>
  <div class="footer-container-all">
    <div class="footer-container">
      <div class="foot-column1">
        <h1>Mas informacion de la compañia</h1>
        <p>
          La Fundación Viva la Vida por el Bienestar Animal es una entidad
          solidaria creada en Buenos Aires, Argentina, con el objetivo de ayudar
          a los perros sin hogar. Laura Rama, una de sus fundadoras, es
          actualmente la Presidenta de la Fundación y única responsable de la
          misma.
          <!--en este parrafo ponemos lo relacionado a nuestra ong-->
        </p>
      </div>
      <div class="foot-column2">
        <h1>Redes Sociales</h1>

        <div class="foot-redes">
          <a href="https://facebook.com">
            <label
              ><i
                class="fa-brands fa-facebook"
                style="color: rgb(56, 7, 155)"
              ></i>
              Siguenos en Facebook
            </label>
          </a>
        </div>

        <div class="foot-redes">
          <a href="https://instagram.com">
            <label
              ><i
                class="fa-brands fa-instagram"
                style="color: rgb(185, 36, 53)"
              ></i>
              Siguenos en Instagram</label
            >
          </a>
        </div>
        <div class="foot-redes">
          <a href="http://twitter.com">
            <label
              ><i
                class="fa-brands fa-square-twitter"
                style="color: rgb(14, 103, 236)"
              ></i>
              Siguenos en Twitter</label
            >
          </a>
        </div>
      </div>
      <div class="foot-column3">
        <h1>Informacion de Contactos</h1>

        <div class="foot-contactos">
          <label
            ><i class="fa-solid fa-house-user"></i>Magnolia 2075, San Nicolas de
            los Arroyos. Provincia de Buenos Aires</label
          >
        </div>

        <div class="foot-contactos">
          <label>
            <i class="fa-solid fa-mobile-screen-button"></i> 3364017385
          </label>
          <b class="whatsappFooter">
            <a href="https://api.whatsapp.com/send/?phone=3364017385">
              <i
                class="fa-brands fa-whatsapp"
                style="color: rgb(19, 114, 19)"
              ></i> </a
          ></b>
        </div>
        <div class="foot-contactos">
          <label
            ><i class="fa-solid fa-envelope"></i
            >javiernicolasolivera@gmail.com</label
          >
        </div>
      </div>
    </div>
    <div class="footer-container1">
      <div class="copyright">2022 Todos los derechos reservados Grupo#4</div>
      <div class="politica">
        <a href=""> Informacion compañia</a>|
        <a href=""> Privacidad y Politica</a>|
        <a href=""> Terminos y condiciones</a>
      </div>
    </div>
  </div>
</footer>
