.dashboard{
    display:flex;
    justify-content: center;
    align-items: center;
}
.navbar-react{
    display: flex;
    background-color: cadetblue;
}

@media (max-width:700px){
 .dashboard{
    display:block;
 }
}