.user-tab{
    display:flex;
    justify-content: center;
    align-items: center;
}

.user-tab table{
    backdrop-filter: blur(15px);
}

@media (max-width:700px){
    .user-tab{
       display:block;
    }
   }