
 <%- include('../../partials/head') %>
 <title>Formulario de producto</title>
    
        <!-- Header -->
        <%- include('../../partials/header') %>
        <!-- /Header -->
      

<html>
 
     <div class="container products-wrapper">
            <div class="row">
                <div class="col-12">
                  
                </div>
            
            </div>
 <body>
    
            <div class="col-12">

               
                <form
                    method="post"
                    enctype="multipart/form-data"  
                    class="formCreate"
                    id="form"
                    
                >

                
                    <div class="row product-detail fondoCreate">
                        

                             <h2 class="products-title">
                        FORMULARIO CREACION DE PRODUCTO
                           </h2>
                        <div class="col-12 col-md-6">
                            <label for="price" class="form-label"
                                >Nombre:</label
                            >
                            <input
                                type="text"
                                id="name"
                                name="name"
                                placeholder="Ej: 5678"
                                class="form-input"
                                                      
                            />
                        </div>
                  
                              <div class="col-12 col-md-6">
                            <label for="size" class="form-label"
                                >Tamaño:</label
                            
                            >

                          
                            <input
                                type="text"
                                id="size"
                                name="size"
                                placeholder="L o medida"
                                class="form-input"
                             
                             
                            />
                        </div>
                              <div class="col-12 col-md-6">
                            <label for="colour" class="form-label"
                                >Color:</label
                            >
                            <input
                                type="text"
                                id="colour"
                                name="colour"
                                placeholder="Ej:azul"
                                class="form-input"
                            
                               
                            />
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="image" class="form-label">Imagen:</label>
                            <input
                                type="file"
                                id="imagen"
                                name="imagen"
                                class="form-input imagenForm"
                                accept="imagen/png,imagen/jpeg"
                               
                               
                            />
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="category" class="form-label "
                                >Categoría:</label
                            >
                            <select
                                name="category"
                                id="category"
                                class="form-input category"
                            >
                                <option value="">Elegí</option>
                                <option value="1">Decoración</option>
                                <option value="2"> Hogar</option>
                                  <option value="3"> Indumentaria</option>
                            </select>
                            
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="price" class="form-label"
                                >Precio:</label
                            >
                            <input
                                type="text"
                                id="price"
                                name="price"
                                placeholder="Ej:1500"
                                class="form-input priceForm"
                          
                               
                            />
                        </div>
                        <div class="col-12">
                            <label for="description" class="form-label"
                                >Descripción:</label
                            >
                            <textarea
                                name="description"
                                id="description"
                                class="form-input description"
                                name="price"
                            ></textarea>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="edit submitButon">
                               <span> Guardar Producto</span>
                            </button>
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>

   </body>
 
       <script src="../../js/create.js "></script>
        
              <!-- footer -->
        <%- include('../../partials/footer') %>
        <!-- /footer -->
   
</html>

   