<%- include('../partials/head') %>
 <title>Colaboracion</title>
    <body class="body-donaciones">
        <!-- Header -->
        <%- include('../partials/header') %>
        <!-- /Header -->
        <div class="container-descripcion-donaciones">
            <h2 class="h2-descripcion-donaciones"> COLABORA CON NOSOTROS, PARA ELLOS</h2>
            <p> Tu aporte nos ayuda a seguir cumpliendo nuestro objetivo. Rescatamos animales en situación de riesgo, le brindamos atención veterinaria, higiene, alimentación adecuada y tránsito. Lo hacemos con mucho amor, pero necesitamos tu ayuda.
            Podes contactarte con nosotros para ver como trabajamos, tu contribucion tiene destino seguro
            <span class="color-acento">ELLOS te lo agradecen!!</span></p>
        </div>
    <div class="container-donaciones">
        <div class="card-donaciones" >
            <div class="left-column background1-left-column">
                <h6>Transferencia Bancaria</h6>
                <h2>BANCO PEPITO</h2>
                <i class="fa-solid fa-building-columns"></i>
            </div>
                <div class="right-column">
                    <div>
                        <h4>Banco Pepito</h4>
                        <h6>Transferencia</h6>
                    </div>

                    <h3>Alias: Asoc.areani</h3>
                    <p>
                    
                    Cuenta Cte N° 123456789111 /
                    Sucursal n° 111 /
                    CBU 2222222222222222222222 /
                    Titular: "Juanita Gonzalez" /
                    CUIT: 30151515152
                    
                    </p>
                
                </div>
            
        </div>
             <div class="card-donaciones" >
                    <div class="left-column background1-left-column">
                        <h6>Billetera Virtual</h6>
                        <h2>Mercado Pago</h2>
                        <i class="fa-solid fa-handshake-simple"></i>
                    </div>
                        <div class="right-column">
                        <div>
                            <h4>Mercado Pago</h4>
                        </div>
                        <h2>Información:</h2>
                        <p>
                            A través de este link podes donar el importe
                            que quieras ingresando los datos de tu tarjeta. 
                            El monto es voluntario.
                        </p>
                        <a href="https://mpago.la/2gPshic"> <button class="button-donaciones background1-left-column">Donar</button> </a>
                        </div>
                    
        </div>
        <div class="card-donaciones" >
            <div class="left-column background1-left-column">
                <h6>Insumos</h6>
                <h2>AREANI</h2>
                <i class="fa-solid fa-paw"></i>
            </div>
                <div class="right-column">
                <div>
                    <h4>Fundacion</h4>
                </div>
                <h2>Información:</h2>
                <p>
                   Se reciben insumos medicos, como también materiales
                   para construir refugios,mantas y alimentos.
                   Contactános.
                </p>
                
                <a href="https://api.whatsapp.com/send/?phone=3364017385"> <button class="button-donaciones background1-left-column">Donar</button> </a>
                </div>
            
</div>
       
    </div>
   
    </body>   
        <footer>
        <%- include('../partials/footer') %>  
        </footer>