<%- include('../partials/head') %>
<title>Nosotros</title>
    
<body>
    <%- include('../partials/header') %>
        
<main class="main-nosotros"> 

    <div style="width:100%;display: block; background-color: #9dcae0c9;">
      <h1 style="text-align: center;">Quienes somos...</h1>
      <h3 style="text-align: center;">Entre todos podemos colaborar con instituciones conservacionistas dedicadas a preservar la integridad de animales en situación de riesgo.</h3>
    </div>
    
    <div class="card-nos">

      <div class="face-nos front-nos">
         <img src="images/logoPATITAsinfondo.png" alt="">
    </div>

          <div class="face-nos back-nos">
             <h3>AREANI</h3>
              <p>Entre todos podemos colaborar con instituciones conservacionistas dedicadas a preservar la integridad de animales en riesgo.</p>      
         </div>
    </div>

    <div class="card-nos">

      <div class="face-nos front-nos">
         <img src="images/foto-marisa.jpg" alt="">
      </div>

          <div class="face-nos back-nos">
             <h3>MARISA TORRES</h3>
              <p>Tengo 38 años, una hija de 12 y un gran anhelo por trabajar de esto. Soy Tecnica Analista de Sistemas, aunque nunca pude ejercerlo. Me considero persistente y dedicada.</p>
          </div>
      </div>


    <div class="card-nos">

      <div class="face-nos front-nos">
         <img src="images/foto-javier.jpg" alt="">
      </div>

          <div class="face-nos back-nos">
             <h3>JAVIER OLIVERA</h3>
              <p>Tengo 33 años, Soy técnico electromecánico, técnico superior en Recursos Humanos y cursando la última materia de Licenciado en administración de empresas.</p>
         </div>
     </div>


    <div class="card-nos">

      <div class="face-nos front-nos">
         <img src="images/foto-fernando.jpg" alt="">
      </div>

         <div class="face-nos back-nos">
            <h3>FERNANDO ROMERO</h3>
                  <p>Tengo 26 años, soy técnico en Electrónica y uno de mis hobbies es la programación, la cual espero en un futuro cercano que sea mi profesión.</p>
         </div>
    </div>


    <div class="card-nos">

      <div class="face-nos front-nos">
         <img src="images/foto-jose.jpg" alt="">
      </div>

          <div class="face-nos back-nos">
             <h3>JOSE COURBY</h3>
              <p>Tengo 56 años, trabajo em áreas de administración de dos empresas, una activa en Polo Tecnológico y otra, una mutual, que otorga micro créditos para el consumo personal.</p>
          </div>
    </div>
 
</main>

<footer>
    <%- include('../partials/footer') %>  
</footer>